@import '../../../scss/media-query-mixins';

.textLabel {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 1px;

  @include sm {
    margin-bottom: 0;
  }

  input {
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: calc(0.6rem + 0.5vw);
    padding-left: 1rem;

    &::placeholder {
      text-transform: capitalize;
    }
  }
}
