$fillColor: #6c63ff;
$white: #fff;

.button,
#submit {
  width: max-content;
  padding: 1.3rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: 1px solid;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  transition: background 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media screen and (max-width: 768px) {
    padding: .8rem;
    font-size: .85rem;
  }

  &:hover {
    background: $fillColor;
    color: $fillColor;
  }
}
