@import '../../scss/variables';
@import '../../scss/media-query-mixins';

.button,
#submit {
  min-width: max-content;
  max-width: max-content;
  font-size: 0.875rem;
  padding: 0.8rem;
  font-weight: 500;
  outline: none;
  border: 1px solid;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  transition: background 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background: $fillColor;
    color: $white;
    border: 1px solid $fillColor;
  }
}

#submit {
  background-color: $fillColor;
}
