$fillColor: #6c63ff;
$white: #fff;

.button {
  width: max-content;
  padding: 1.3rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  color: $fillColor;
  border: 1px solid $fillColor;
  border-radius: 15px;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  &:hover {
    background: $fillColor;
    color: $white;
  }
}

.backgroundColor {
  background: $fillColor;
  color: $white;

  &:hover {
    background: $white;
    color: $fillColor;
  }
}
