$fillColor: #6c63ff;
$primaryColor: #060616;

.sectionHeader {
  width: 100%;

  .aboutMe {
    display: flex;
    align-items: center;
    grid-gap: 0.5rem;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    color: $fillColor;

    @media screen and (max-width: 768px) {
      grid-gap: 0;
    }

    .text {
      width: max-content;
      font-size: calc(1.1rem + 0.3vw);
      font-weight: 500;
    }

    .iconContainer {
      position: relative;

      @media screen and (max-width: 768px) {
        margin-left: 0.5rem;
      }

      .arrow {
        position: absolute;
        left: 0;
        width: 40px;
        border-top: 2px solid;

        @media screen and (max-width: 768px) {
          width: 27px;
        }

        &::after {
          content: '>';
          position: absolute;
          top: -20px;
          right: -5px;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }

  .info {
    font-size: clamp(1.05rem, 1.5vw, 2rem);
    font-weight: 500;
    // margin-top: 0rem;

    // @media screen and (max-width: 765px) {
    //   font-size: 1.2rem;
    // }

    // @media screen and (max-height: 640px) {
    //   font-size: 0.85rem;
    // }
  }
}
