.scroll {
  display: flex;
  // flex-direction: row-reverse;
  grid-gap: 1rem;
  align-items: baseline;
  padding: 1rem 0;

  .iconContainer {
    width: 5rem;
    height: 5rem;
    padding: 1.2rem;
    border-radius: 50%;
    box-shadow: 3px 3px 7px rgba(59, 58, 58, 0.507);

    @media screen and (max-width: 768px) {
      width: 4rem;
      height: 4rem;
    }
  }

  .text {
    font-weight: 500;
    opacity: 0.95;
  }
}
