.scroll {
  display: flex;
  flex-direction: row-reverse;
  grid-gap: 1rem;
  align-items: baseline;
  padding: 0;

  @media screen and (max-width: 768px) {
    grid-gap: 0;
    padding: .8rem 0;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 1.2rem;
    font-size: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(82, 47, 47, 0.507),
      inset 0px 0px 7px rgba(83, 81, 81, 0.507);

    @media screen and (max-width: 768px) {
      width: 4rem;
      height: 4rem;
    }
  }

  .text {
    font-weight: 500;
    opacity: 0.95;

    @media screen and (max-width: 768px) {
      margin: 0 1rem;
    }
  }
}
