.navbar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: space-between;
  margin-top: 0.5rem;
  overflow: hidden;
  padding: 0 8rem;

  @media all and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
  }

  .navbarLogoContainer {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Monoton', cursive;

    .navbarLogo {
      width: max-content;
      height: max-content;
      border-radius: 10%;
      cursor: pointer;
      font-family: 'Monoton', cursive;

      .code {
        font-size: 1.6rem;
        font-weight: 900;
        font-family: 'Monoton', cursive;
      }
    }

    .name {
      font-size: 1.7rem;
      // font-weight: 500;
      margin-left: 0.5rem;
      cursor: pointer;

      @media all and (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }

  .navbarLinksContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    #mobileToggle {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 40px;
      padding: 0;
      margin: 0;
      z-index: 10;
      opacity: 0;
      cursor: pointer;

      @media all and (max-width: 768px) {
        &:checked ~ .navLinks {
          opacity: 1;
          left: 0;
        }

        &:checked ~ .mobileToggle .hamburgerContainer .hambuger:nth-child(2) {
          right: -100px;
        }

        &:checked ~ .mobileToggle .hamburgerContainer .hambuger:first-child {
          transform: rotate(45deg) translateY(8px) translateX(5px);
          color: red;
          width: 100%;
        }

        &:checked ~ .mobileToggle .hamburgerContainer .hambuger:last-child {
          transform: rotate(-45deg) translateY(-8px) translateX(5px);
          color: red;
          width: 100%;
        }
      }
    }

    .mobileToggle {
      display: none;
      position: relative;
      width: 45px;
      height: 40px;
      z-index: 5;

      @media all and (max-width: 768px) {
        display: block;
        position: fixed;
        z-index: 7;
      }

      .hamburgerContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 0.5rem;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0 0.2rem;

        @media screen and (max-width: 768px) {
          grid-gap: 0;
        }

        .hambuger {
          position: relative;
          right: 0;
          width: 75%;
          border: 1px solid;
          transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          margin-bottom: .5rem;

          &:nth-child(2) {
            width: 100%;
          }
        }
      }
    }

    .navLinks {
      width: 100%;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(5, max-content);
      grid-gap: 1rem;
      justify-content: flex-end;
      align-items: center;

      @media all and (max-width: 768px) {
        opacity: 0;
        position: fixed;
        overflow: hidden;
        top: 0;
        left: -200vh;
        height: 100vh;
        width: 100%;
        background: rgba(69, 117, 179, 0.877);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 80px);
        justify-content: center;
        grid-gap: 0.5rem;
        padding: 8rem 0 0 0;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        z-index: 5;
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0.5rem;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: 1px;

        a {
          position: relative;
          display: block;
          width: max-content;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            border-radius: 2px;
            background: blueviolet;
            transition: width 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }

      .theme {
        position: relative;
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;

        #themeToggle {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
          z-index: 13;
          // transform: scaleX(2.5);
          opacity: 0;
          cursor: pointer;

          &:checked ~ .themeToggle::after {
            right: 0;
          }

          &:checked ~ .themeToggle {
            background: rgb(70, 68, 68);
          }
        }

        .themeToggle {
          position: relative;
          display: flex;
          justify-content: space-between;
          width: 4.5rem;
          height: 1.7rem;
          border: 1px solid;
          border-radius: 15px;
          overflow: hidden;
          background: rgb(247, 240, 240);
          transition: background .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition-delay: .1s;

          @media all and (max-width: 768px) {
            width: 5rem;
            height: 2rem;
            border-radius: 10px;
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: calc(5rem - 2.75rem);
            width: 2.1rem;
            height: inherit;
            border-radius: inherit;
            border: 0;
            outline: none;
            background: rgb(43, 40, 40);
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            box-shadow: 1px 0px 2px rgb(0, 0, 0), -1px 0px 2px rgb(0, 0, 0);

            @media all and (max-width: 768px) {
              width: 2.5rem;
              right: calc(5rem - 2.6rem);
            }
          }
        }
      }
    }
  }
}
