$fillColor: #6c63ff;

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 8rem;
  z-index: 5;
  background: $fillColor;

  @media all and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
  }

  .navbarLogoContainer {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    .name {
      font-size: clamp(1.3rem, 1.9vw, 2rem);
      width: max-content;
      font-family: 'Monoton', cursive;
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }

  .navbarLinksContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    #mobileToggle {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 40px;
      padding: 0;
      margin: 0;
      z-index: 10;
      opacity: 0;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        &:checked ~ .navLinks {
          opacity: 1;
          left: 0;
        }

        &:checked ~ .mobileToggle .hamburgerContainer .hambuger:nth-child(2) {
          right: -100px;
        }

        &:checked ~ .mobileToggle .hamburgerContainer .hambuger:first-child {
          transform: rotate(45deg) translateY(8px) translateX(5px);
          color: red;
          width: 100%;
        }

        &:checked ~ .mobileToggle .hamburgerContainer .hambuger:last-child {
          transform: rotate(-45deg) translateY(-8px) translateX(5px);
          color: red;
          width: 100%;
        }
      }
    }

    .mobileToggle {
      display: none;
      position: relative;
      width: 45px;
      height: 40px;
      z-index: 5;

      @media all and (max-width: 768px) {
        display: block;
        // position: fixed;
        // z-index: 7;
      }

      .hamburgerContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 0.5rem;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0 0.2rem;

        @media screen and (max-width: 768px) {
          grid-gap: 0;
        }

        .hambuger {
          position: relative;
          right: 0;
          width: 75%;
          border: 1px solid;
          transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          margin-bottom: 0.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          &:nth-child(2) {
            width: 100%;
          }
        }
      }
    }

    .navLinks {
      width: 100%;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(5, max-content);
      grid-gap: 1rem;
      justify-content: flex-end;
      align-items: center;

      @media all and (max-width: 768px) {
        opacity: 0;
        position: fixed;
        overflow: hidden;
        top: 0;
        left: -200vh;
        height: 100vh;
        width: 100%;
        background: rgba(69, 117, 179, 0.877);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 80px);
        align-content: center;
        grid-gap: 0.5rem;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0.5rem;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: 1px;

        a {
          position: relative;
          display: block;
          width: max-content;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            border-radius: 2px;
            background: blueviolet;
            transition: width 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }

      .theme {
        position: relative;
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;

        #themeToggle {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
          z-index: 13;
          opacity: 0;
          cursor: pointer;

          &:checked ~ .themeToggle::after {
            right: 2px;
          }
        }

        .themeToggle {
          position: relative;
          display: flex;
          justify-content: space-between;
          padding: 0 0.5em;
          align-items: center;
          width: 4rem;
          height: 2rem;
          box-shadow: 0 0 2px black;
          border-radius: 20px;
          overflow: hidden;
          background: rgb(32, 32, 32);
          transition: background 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition-delay: 0.1s;

          .modeIcon {
            font-size: 1.05rem;
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: calc(50% + 2px);
            width: calc(50% - 4px);
            height: calc(100% - 4px);
            border-radius: 50%;
            background: rgb(43, 40, 40);
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            box-shadow: 0px 0px 2px rgb(0, 0, 0), inset 0 1.5px 2px black,
              inset 0 -1.5px 2px black;
            margin: 2px 0;
          }
        }
      }
    }
  }
}
