@import '../../scss/variables';
@import '../../scss/media-query-mixins';

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem;
  z-index: 5;
  background-color: $fillColor;
  box-shadow: 0 1.5px 5px $muted-100;

  @include md {
    grid-template-columns: 0.5fr 0.5fr;
    padding: 0 8rem;
  }

  .navbarLogoContainer {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    .name {
      font-size: 1.3rem;
      width: max-content;
      font-family: 'Monoton', cursive;
      color: $white;
      margin-left: 0.5rem;
      cursor: pointer;

      @include sm {
        font-size: 2rem;
      }
    }
  }

  .navbarLinksContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, auto);
      padding-right: 0.5em;
    }

    #mobileToggle {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 40px;
      padding: 0;
      margin: 0;
      z-index: 10;
      opacity: 0;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        &:checked ~ .navLinks {
          opacity: 1;
          left: 0;
        }

        &:checked ~ .mobileToggle .hamburgerContainer .hambuger:nth-child(2) {
          right: -100px;
        }

        &:checked ~ .mobileToggle .hamburgerContainer .hambuger:first-child {
          transform: rotate(45deg) translateY(8px) translateX(5px);
          color: $error;
          width: 100%;
        }

        &:checked ~ .mobileToggle .hamburgerContainer .hambuger:last-child {
          transform: rotate(-45deg) translateY(-8px) translateX(5px);
          color: $error;
          width: 100%;
        }
      }
    }

    .mobileToggle {
      display: none;
      position: relative;
      width: 45px;
      height: 40px;
      z-index: 5;

      @media all and (max-width: 768px) {
        display: block;
      }

      .hamburgerContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 0.5rem;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0 0.2rem;

        @media screen and (max-width: 768px) {
          grid-gap: 0;
        }

        .hambuger {
          position: relative;
          right: 0;
          width: 75%;
          border: 1px solid;
          transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          margin-bottom: 0.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          &:nth-child(2) {
            width: 100%;
          }
        }
      }
    }

    .navLinks {
      width: 100%;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(5, max-content);
      grid-gap: 1rem;
      justify-content: flex-end;
      align-items: center;

      @media all and (max-width: 768px) {
        opacity: 0;
        position: fixed;
        overflow: hidden;
        top: 0;
        left: -200vh;
        height: 100vh;
        width: 100%;
        background-color: #4575b3e0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 80px);
        align-content: center;
        grid-gap: 0.5rem;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0.5rem;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: 1px;

        a {
          position: relative;
          display: block;
          cursor: pointer;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            border-radius: 2px;
            background-color: #8a2be2;
            transition: width 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            @media screen and (max-width: 768px) {
              all: unset;
            }
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }

    .theme {
      grid-area: 1/1;
      position: relative;
      display: flex;
      list-style: none;
      justify-content: center;

      @media screen and (max-width: 768px) {
        margin-right: 1em;
      }

      #themeToggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        z-index: 13;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .themeToggle::after {
          right: 2px;
        }
      }

      .themeToggle {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 0.5em;
        align-items: center;
        width: 4rem;
        height: 2rem;
        box-shadow: 0 0 2px black;
        border-radius: 20px;
        overflow: hidden;
        background-color: rgb(32, 32, 32);
        transition: background 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition-delay: 0.1s;

        .modeIcon {
          font-size: 1.05rem;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: calc(50% + 2px);
          width: calc(50% - 4px);
          height: calc(100% - 4px);
          border-radius: 50%;
          background-color: rgb(43, 40, 40);
          transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          box-shadow: 0px 0px 2px rgb(0, 0, 0), inset 0 1.5px 2px black,
            inset 0 -1.5px 2px black;
          margin: 2px 0;
        }
      }
    }
  }
}
