@import '../../scss/media-query-mixins';

.skills {
  padding: 2rem 0;

  .header {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;

    @include sm {
      font-size: 1.5rem;
    }
  }

  .skillsRow {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 1rem;
    overflow: auto;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 0.7rem;
  }
}
