@import '../../scss/variables';
@import '../../scss/media-query-mixins';

.intro {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  padding: 1rem;
  transition: background 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  @include sm {
    padding: 1.5rem 2rem;
  }

  @include md {
    padding: 1.5rem 3rem;
  }

  @include lg {
    padding: 1.5rem 8rem;
  }

  .introContainter {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
    animation: intro 1.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);

    @include sm {
      grid-template-columns: 1fr max-content;
      margin-top: 3rem;
    }

    @include lg {
      gap: 3rem;
    }

    @keyframes intro {
      from {
        top: 900px;
      }
      to {
        top: 0;
      }
    }

    .introContent {
      width: 100%;

      .introGrid {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
          'image'
          'intro';
        grid-gap: 0.5rem;
        overflow: hidden;

        @include sm {
          grid-template-columns: 1fr 0.9fr;
          grid-template-areas: 'intro image';
        }

        @include lg {
          grid-template-columns: 1fr 0.7fr;
          grid-template-areas: 'intro image';
        }

        .introDetails {
          width: 95vw;
          grid-area: intro;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 0.5rem;

          @include sm {
            width: 100%;
            align-items: flex-start;
          }

          .hello {
            font-size: 1.6rem;
            font-weight: 500;
            color: $fillColor;
            letter-spacing: 1px;
            animation: fade-in 2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            animation-delay: 1.2s;
          }

          .name {
            font-size: calc(1.5rem + 1vw);
            font-weight: 600;
            letter-spacing: 1px;
            width: max-content;
            animation: fade-in 2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            animation-delay: 1.2s;

            @include sm {
              font-size: 2.6rem;
            }

            @include md {
              font-size: 3rem;
            }
          }

          .jobDescription {
            font-size: 1.2rem;
            letter-spacing: 0.5px;
            opacity: 0.7;
            animation: fade-in 2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            animation-delay: 1.2s;

            @include sm {
              font-size: 1.5rem;
            }
          }

          .cvHireMeBtn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 2.5rem;

            @include sm {
              width: max-content;
              grid-gap: 3rem;
            }
          }

          p {
            margin: 0;
            padding: 0;
          }

          @keyframes fade-in {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }

        .developerImg {
          grid-area: image;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70vw;
          margin: 0 auto;

          @include sm {
            width: 100%;
            height: 100%;
          }

          .imgContainer {
            position: relative;
            width: 100%;
            height: 100%;

            @include lg {
              width: 90%;
              height: 90%;
            }
          }

          .introImage {
            border-radius: 50%;
            object-fit: contain;
            border: 5px dotted $fillColor;
          }
        }
      }
    }

    .introSocials {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0 3px;

      @include sm {
        flex-direction: column;
      }

      .socialLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        background: #ffffff;
        border-radius: 50%;

        @include sm {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      .arrow {
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        right: 0;
        transform: translateY(12px);
        background: $primaryColor;
        z-index: -1;

        @include sm {
          transform: translateX(-11px);
          width: 1px;
          height: 100%;
        }

        &::before {
          content: '';
          position: absolute;
          top: -2px;
          right: -3px;
          transform: rotate(90deg);
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid;

          @include sm {
            top: 0;
            right: -5px;
            transform: rotate(0deg);
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: -3px;
          transform: rotate(90deg);
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid;

          @include sm {
            bottom: 0;
            left: -5px;
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}
