$fillColor: #6c63ff;
$primaryColor: #060616;

.intro {
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.43'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23060606' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%230c0c0c' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23111111' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23151515' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23181818' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: 50% 50%;

  .introContainter {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.02fr;
    width: 100%;
    margin-top: 3rem;
    animation: intro 1.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);

    @media screen and (max-width: 768px) {
      grid-template-columns: auto;
      justify-content: center;
      margin-top: 1rem;
    }

    @keyframes intro {
      from {
        top: 900px;
      }
      to {
        top: 0;
      }
    }

    .introContent {
      width: 100%;

      .introGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 0.8fr 0.045fr;
        grid-template-areas: 'intro image social';
        grid-gap: 0.5rem;
        overflow: hidden;

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          grid-template-areas:
            'image'
            'intro'
            'social';
        }

        .introDetails {
          grid-area: intro;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 0.5rem;

          .hello {
            font-size: 1.6rem;
            font-weight: 500;
            color: $fillColor;
            letter-spacing: 1px;
            animation: fade-in 2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            animation-delay: 1.2s;
          }

          .name {
            font-size: 3rem;
            font-weight: 600;
            letter-spacing: 1px;
            width: max-content;
            animation: fade-in 2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            animation-delay: 1.2s;

            @media screen and (max-width: 540px) {
              font-size: calc(1.5rem + 1vw);
            }

            @media screen and (max-width: 320px) {
              // font-size: 1.8rem;
            }
          }

          .jobDescription {
            font-size: 1.5rem;
            letter-spacing: 0.5px;
            opacity: 0.7;
            animation: fade-in 2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            animation-delay: 1.2s;

            @media screen and (max-width: 540px) {
              font-size: calc(0.95rem + 0.3vw);
            }

            @media screen and (max-width: 360px) {
              font-size: calc(0.9rem + 0.3vw);
            }

            @media screen and (max-width: 280px) {
              // font-size: 0.78rem;
            }
          }

          .cvHireMeBtn {
            display: flex;
            grid-gap: 3rem;
            margin-top: 2.5rem;

            @media screen and (max-width: 768px) {
              width: 70%;
              align-items: center;
              justify-content: space-around;
              grid-gap: 0;
            }
          }

          p {
            margin: 0;
            padding: 0;
          }

          @media screen and (max-width: 768px) {
            align-items: center;
            justify-content: center;
            padding: 0.5rem 0;
          }

          @keyframes fade-in {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }

        .introImageContainer {
          grid-area: image;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 1rem;

          .introImage {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 5px dotted $fillColor;

            @media screen and (max-width: 540px) {
              width: 90%;
            }
          }
        }
      }
      .scrollDown {
        margin-top: 2rem;
        margin-left: 0.5rem;
        display: flex;
        justify-content: flex-start;

        @media screen and (max-width: 540px) {
          margin-top: 0rem;
        }
      }
    }

    .introSocials {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      @media screen and (max-width: 768px) {
        margin-top: 2rem;
      }

      .socialLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1.4rem;
        padding: 0.1rem 0;
        background: rgb(255, 255, 255);
        border-radius: 50%;

        @media screen and (max-width: 768px) {
          width: 25px;
          height: 25px;
          padding: 0 0.08rem;
        }
      }

      .arrow {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(-11px);
        width: 1px;
        height: 100%;
        background: $primaryColor;
        z-index: -1;

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 1px;
          top: 0;
          right: 0;
          transform: translateY(12px);
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: -5px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid;

          @media screen and (max-width: 768px) {
            top: -2px;
            right: -3px;
            transform: rotate(90deg);
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: -5px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid;

          @media screen and (max-width: 768px) {
            bottom: -2px;
            left: -3px;
            transform: rotate(90deg);
          }
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: row;
      }
    }
  }
}
