.intro {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.045fr;
  grid-gap: 1rem;
  overflow: hidden;
  margin-top: 1rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .introDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
  }

  .introImage {
    border: 1px solid red;
  }

  .introSocials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 4rem;
    border: 1px solid red;

    @media screen and (max-width: 768px) {
      flex-direction: row;
    //   height: 3rem;
    }
  }
}
