$fillColor: #6c63ff;

#aboutMe {
  height: 100vh;
  padding: 2rem 0;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-size: cover;

  @media screen and (max-width: 768px) {
    height: auto;
  }

  .aboutMeContent {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;

    @media screen and (max-width: 768px) {
      grid-gap: 0;
    }

    .thinkSolveDebug {
      width: 100%;
      margin-top: 3rem;

      @media screen and (max-width: 768px) {
        margin-bottom: 3rem;
      }

      .text {
        font-size: calc(2.4rem + 0.3vw);
        font-weight: 600;
        margin-right: 1rem;

        .dot {
          font-family: sans-serif;
        }
      }

      .solve {
        color: $fillColor;
      }
    }
  }
}
