@import '../../scss/variables';

.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  grid-gap: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0 0 1.875rem 0;
  box-shadow: 0px 0px 3px $fillColor;
  transition: transform 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);

  &:hover {
    transform: scale(1.1);
    cursor: pointer;

    .icon {
      transform: scale(1.2);
      filter: brightness(1.2);
    }
  }

  .icon {
    height: 8.125rem;
    width: 8.125rem;
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .cardBody {
    font-weight: 500;
    margin-top: 0.625rem;
  }
}
