$fillColor: #6c63ff;

.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 11.8rem;
  grid-gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0 0 30px 0;
  border: 1px solid #6c63ff;
  box-shadow: 0px 0px 2px #6c63ff;

  .circular {
    height: 100px;
    width: 100px;
    position: relative;

    .inner,
    .outer,
    .circle {
      position: absolute;
      z-index: 6;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
    }

    .inner {
      top: 50%;
      left: 50%;
      height: 80px;
      width: 80px;
      margin: -40px 0 0 -40px;
      background: #dde6f0;
      border-radius: 100%;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    }
    .circle {
      z-index: 1;
      box-shadow: none;

      .right {
        z-index: 3;
        transform: rotate(180deg);
      }

      .dot {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50%;
        height: 10px;
        margin-top: -5px;
        animation: dot 8s linear both;
        transform-origin: 0% 50%;
      }
    }
    .numb {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      font-size: 18px;
      font-weight: 500;
      color: $fillColor;
    }
    .bar {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #fff;
      border-radius: 100%;
      clip: rect(0px, 100px, 100px, 50px);

      .progress {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        clip: rect(0px, 50px, 100px, 0px);
        border: 1px solid white;
      }
    }
  }

  .cardBody {
    font-weight: 500;
    margin-top: 10px;
  }
}
