$fillColor: #6c63ff;

.footer {
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  padding: 2rem 1rem;
  transition: background 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  .footerContent {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: 'logoContainer footerContact footerLinks';

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'logoContainer'
        'footerLinks'
        'footerContact';
      row-gap: 1rem;
    }

    .logoContainer {
      grid-area: logoContainer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      font-family: 'Monoton', cursive;

      .logo:hover {
        color: $fillColor;
        width: max-content;
      }

      @media screen and (max-width: 768px) {
        justify-content: flex-start;
      }
    }

    .footerContact {
      grid-area: footerContact;
      display: grid;
      grid-gap: 1.2rem;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        justify-content: flex-start;
        margin-top: 1rem;
      }

      .footerContactInfo {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: 1rem;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          width: 18px;
          height: auto;
        }
      }
    }

    .footerLinks {
      grid-area: footerLinks;
      width: 100%;

      .footerLinksContainer {
        display: flex;
        flex-direction: column;
        list-style: none;
        grid-gap: 0.5rem;
        font-size: calc(1.05rem + 1vw);
        font-weight: 600;
        padding: 0;

        .footerLink:hover {
          color: $fillColor;
          width: max-content;
        }
      }
    }
  }

  .createdBy {
    display: flex;
    justify-content: center;
    font-size: calc(0.3rem + 0.8vw);
  }
}
