$fillColor: #6c63ff;

.footer {
  width: 100%;
  background: $fillColor;
  padding: 2rem 0;

  .footerContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      padding-left: 1rem;
    }

    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      font-family: 'Monoton', cursive;
    }

    .footerContact {
      display: grid;
      grid-gap: 1.2rem;
      justify-content: center;
      align-items: center;

      .footerContactInfo {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: 1rem;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          width: 18px;
          height: auto;
        }
      }
    }

    .footerLinks {
      width: 100%;

      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
      }

      .footerLinksContainer {
        display: flex;
        flex-direction: column;
        list-style: none;
        grid-gap: 0.5rem;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0;
      }
    }
  }

  .createdBy {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
  }
}
