$fillColor: #6c63ff;

.footer {
  width: 100%;
  // background-color: #131313;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.43'%3E%3Ccircle fill='%23131313' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23101010' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%230d0d0d' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23090909' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23040404' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: cover;
  padding: 2rem 1rem;
  transition: background 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  .footerContent {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: 'logoContainer footerContact footerLinks';

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas: 
      'logoContainer'
      'footerLinks' 
      'footerContact' ;
      row-gap: 1rem;
    }

    .logoContainer {
      grid-area: logoContainer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      font-family: 'Monoton', cursive;

      .logo:hover {
        color: $fillColor;
        width: max-content;
      }

      @media screen and (max-width: 768px) {
        justify-content: flex-start;
      }
    }

    .footerContact {
      grid-area: footerContact;
      display: grid;
      grid-gap: 1.2rem;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        justify-content: flex-start;
        margin-top: 1rem;
      }

      .footerContactInfo {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: 1rem;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          width: 18px;
          height: auto;
        }
      }
    }

    .footerLinks {
      grid-area: footerLinks;
      width: 100%;

      .footerLinksContainer {
        display: flex;
        flex-direction: column;
        list-style: none;
        grid-gap: 0.5rem;
        font-size: calc(1.05rem + 1vw);
        font-weight: 600;
        padding: 0;

        .footerLink:hover {
          color: $fillColor;
          width: max-content;
        }
      }
    }
  }

  .createdBy {
    display: flex;
    justify-content: center;
    font-size: calc(0.2rem + 0.8vw);
  }
}
