.contact {
  position: relative;
  width: 100%;
  // height: 100vh;

  .contentContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 6rem;
    margin-top: .7rem;

    .formContainner {
      width: 100%;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
        padding-bottom: 1rem;

        @media screen and (max-width: 768px) {
          grid-gap: 0;
        }

        label {
          width: 100%;
          height: 3rem;
          border: none;
          border-radius: 3px;
          overflow: hidden;
          box-shadow: 1px 1px 2px #c9c6c6;

          @media screen and (max-width: 768px) {
            margin-bottom: 2rem;
          }

          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: calc(0.6rem + 0.5vw);
            background: #f7f6f6;
            padding-left: 1rem;
          }
        }

        .message {
          width: 100%;
          height: 10rem;
          box-shadow: 1px 1px 2px #c9c6c6;

          #message {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: calc(0.6em + 0.5vw);
            background: #f7f6f6;
            padding-left: 1rem;
          }
        }
      }
    }

    .imageContainer {
      width: 100%;
      height: 100%;

      .image {
        width: 100%;
        height: 75%;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .scrollUp {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
