.contact {
  position: relative;

  .contentContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 6rem;
    margin-top: 0.7rem;

    .formContainner {
      width: 100%;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
        padding-bottom: 1rem;
        margin-top: 1rem;

        @media screen and (max-width: 768px) {
          grid-gap: 0;
        }
      }
    }

    .imageContainer {
      position: relative;
      width: 100%;
      height: 75%;
      margin-top: 1rem;

      .image {
        width: 100%;
        height: 100%;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
