.contact {
  position: relative;
  width: 100%;
  height: 100vh;

  .contentContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 6rem;

    .formContainner {
      //   border: 1px solid red;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
        padding: 1rem 0;

        label {
          width: 100%;
          height: 3rem;
          border: none;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 1px 1px 2px;

          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 1rem;
            background: rgb(187, 186, 186);
            padding-left: 1rem;
          }
        }

        .message {
          width: 100%;
          height: 10rem;
          box-shadow: 1px 1px 2px;

          #message {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 1rem;
            background: rgb(187, 186, 186);
            padding-left: 1rem;
          }
        }
      }
    }

    .imageContainer {
      border: 1px solid red;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .scrollUp {
      position: absolute;
      bottom: 0;
      right: 0;
  }
}
