.project {
  width: 100%;
  height: 100%;

  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 2rem;
    margin-top: 1rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 1.5rem;
    }
  }

  .discoverMore {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
  }
}
