@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  // background: black;
  // color: white;
  transition: background 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  padding: 0 4rem;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
